REDIS_HOST=redis
REDIS_PORT=6379
APP_PORT=8000
CACHE_TTL_SECONDS=300
RATE_LIMIT_THRESHOLD=5
RATE_LIMIT_WINDOW_SECONDS=60
CIRCUIT_BREAKER_FAILURE_THRESHOLD=3
CIRCUIT_BREAKER_RESET_TIMEOUT=10
EXTERNAL_SERVICE_FAILURE_RATE=0.1

